* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular';
}

.siteHolder {
  position: relative;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  color: rgb(218, 181, 140);
  height: 15vh;
}

.H-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.main-header-menu {
  display: flex;
  padding-right: 1%;
}


.F-Span {
  color: rgb(90, 88, 88);
}

.logo {
  width: 35vw;
}

.nav-link {
  text-decoration: none;
  color: rgb(218, 181, 140);
}

.nav-link:hover {
  color: black;
}

.nav-linkactive {
  color: grey;
  text-decoration: none;
}

ul {
  list-style-type: none;
}


.nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.nav-tab:hover {
  background-color: rgb(170, 170, 162);
  color: black;
}

.carousel {
  padding-left: 5px;
  padding-right: 5px;
}

.F-cont {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: black;
  margin-top: 7.72%;
}

a {
  text-decoration: none;
  color: rgb(218, 181, 140);
}

a:hover {
  color: grey;
}

.F-CI {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 1%;
  color: rgb(218, 181, 140);
}

@media screen and (max-width: 800px) {
  header {
    height: fit-content;
  }

  .F-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .H-1 {
    flex-direction: column;
    align-items: center;
  }

  .nav-tab {
    font-size: 5vw;
  }

  .logo {
    margin-top: 15px;
    width: 100%;
  }
}